---
import GridCard from "./GridCard.astro";
import galponesPrincipal from "@assets/images/galoponesRemecoPrincipal.webp";
import tingladosPrincipal from "@assets/images/tingladosRemecoPrincipal.webp";
---

<main class="p-4 lg:p-16 md:p-12 w-full">
  <section class="grid grid-cols-1 md:grid-cols-2 lg:gap-12 gap-6">
    <GridCard
      imageSrc={galponesPrincipal}
      alt="Galpones"
      title="Ver Galpones"
      imgWidth={800}
      imgHeight={600}
      link="/galpones"
    />
    <GridCard
      imageSrc={tingladosPrincipal}
      alt="Tinglados"
      title="Ver Tinglados"
      imgWidth={800}
      imgHeight={600}
      link="/tinglados"
    />
  </section>
</main>
