---
import { Picture } from "astro:assets";
import { galponesImg, tingladosImg } from "@helpers/strucuresImages";

interface Props {
  type: "tinglado" | "galpones";
}

const { type } = Astro.props;

const images = type === "tinglado" ? tingladosImg : galponesImg;
---

<div class="swiper mySwiper2">
  <div class="swiper-wrapper">
    {
      images.map((image) => (
        <div class="swiper-slide rounded">
          <Picture
            src={image}
            alt={
              type === "galpones"
                ? "galpones Remeco Metalúrgica"
                : "tinglados Remeco Metalúrgica"
            }
            width={520}
            height={520}
            fetchpriority="high"
            loading={"eager"}
            layout="constrained"
            formats={["avif", "webp"]}
          />
        </div>
      ))
    }
  </div>
  <div class="swiper-button-next bg-white p-2 rounded-full"></div>
  <div class="swiper-button-prev bg-white p-2 rounded-full"></div>
</div>
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    {
      images.map((image) => (
        <div class="swiper-slide">
          <Picture
            src={image}
            alt={
              type === "galpones"
                ? "galpones Remeco Metalúrgica"
                : "tinglados Remeco Metalúrgica"
            }
            width={100}
            height={100}
            fetchpriority="high"
            loading={"eager"}
            layout="constrained"
            formats={["avif", "webp"]}
          />
        </div>
      ))
    }
  </div>
</div>

<style>
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  .swiper {
    height: 300px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

<script src="../../lib/structure_swiper.js"></script>
